<div class="main">
  <div class="jumbotron">
    <div class="container">
      <div class="col-xs-12 col-md-offset-1">
      <h3>Degree in systems analysis and development of the IFRN (Federal Institute of education,
        science and technology of Rio Grande do Norte), fluent English. Expertise in systems development
        in Ruby on Rails and JAVA . I have knowledge in Javascript and JQuery. I am a pro-active
        professional, a full stack developer.</h3>
      </div>
    </div>
  </div>
</div>
