<div class="main">
  <div class="jumbotron">
    <div class="container">
      <center>
        <h1>Contacts</h1>
        <h3>Email: bieloest@gmail.com</h3>
        <h3>Skype: gabriel.oest</h3>
        <h3>Cell phone: +55 84 99170-9999</h3>
        <h3>Phone: +55 84 3346-2935</h3>
        <h3>Address: Rua Doutor Orlando de Azevedo, 2025, Capim Macio, Natal-RN, Brazil</h3>
      </center>
    </div>
  </div>
</div>
