<script>
$(function() {
    $('.banner').unslider();
})
</script>
<div class="main portfolio"> 
  <div class="jumbotron slideshow" >
    <div class="banner">
        <ul>
            <li><img src="https://dl.dropboxusercontent.com/u/70421974/bassmusic.png" /></li>
            <li><img src="https://dl.dropboxusercontent.com/u/70421974/bolt.png"/></li>
            <li><img src="https://dl.dropboxusercontent.com/u/70421974/bookmarks.png"/></li>
            <li><img src="https://dl.dropboxusercontent.com/u/70421974/threadly.png"/></li>
        </ul>
    </div>
  </div>
  <center>
 <div class="container">
    <div class="row"> 
    <a class="col-md-6 project" href="https://bass-music-rails.herokuapp.com/albums"> 
      <div class="thumbnail-header"> 
        <div class="thumbnail-header-btn">
        </div> 
        <div class="thumbnail-header-btn">
        </div> 
        <div class="thumbnail-header-btn">
        </div> 
      </div> 
      <div class="thumbnail"> 
        <img alt="Project01" src="https://dl.dropboxusercontent.com/u/70421974/bassmusic.png"> 
      </div> 
      <h3>BassMusic</h3> 
      <p>Some music in the web!</p> 
    </a> 

    <a class="col-md-6 project" href="https://bolt-network-rails.herokuapp.com/"> 
      <div class="thumbnail-header"> 
        <div class="thumbnail-header-btn">
        </div> 
        <div class="thumbnail-header-btn">
        </div> 
        <div class="thumbnail-header-btn">
        </div> 
      </div> 
      <div class="thumbnail"> 
        <img alt="Project02" src="https://dl.dropboxusercontent.com/u/70421974/bolt.png"> 
      </div> 
      <h3>Bolt</h3> 
      <p>Watch your favority movies, instantly!</p> 
    </a> 
  </div>
  

  <div class="row"> 
    <a class="col-md-6 project" href="https://bookmarks-rails-2633.herokuapp.com/books"> 
      <div class="thumbnail-header"> 
        <div class="thumbnail-header-btn">
        </div> 
        <div class="thumbnail-header-btn">
        </div> 
        <div class="thumbnail-header-btn">
        </div> 
      </div> 
      <div class="thumbnail"> 
        <img alt="Project03" src="https://dl.dropboxusercontent.com/u/70421974/bookmarks.png"> 
      </div> 
      <h3>Bookmark</h3> 
      <p>Many books, many comments!</p> 
    </a> 

    <a class="col-md-6 project" href="https://threadly-rails.herokuapp.com/"> 
      <div class="thumbnail-header"> 
        <div class="thumbnail-header-btn">
        </div> 
        <div class="thumbnail-header-btn">
        </div> 
        <div class="thumbnail-header-btn">
        </div> 
      </div> 
      <div class="thumbnail"> 
        <img alt="Project04" src="https://dl.dropboxusercontent.com/u/70421974/threadly.png"> 
      </div> 
      <h3>Threadly</h3> 
      <p>Threadly thoughts online, one after another...</p> 
    </a> 
  </div>
   </div>
  </center>
</div>