<div class="main home">
  <div class="jumbotron">
    <div class="container">
    <h2>Hello. My name is <span class="highlight">Gabriel Oest</span> and I work as full
      stack web developer, with Ruby On Rails, JQuery, HTML5 and CSS</h2> 
    <a class="btn right" href="portfolio">View my Work</a>
    </div>
  </div>
</div>
